{% extends 'components/base.html' %}
{% load static %}

    {% block styles %}
	<style>
		.leaflet-popup-content {
		  width: 500px;
		}
		#map {
			width: 100%;
			height: 50vh;
			box-shadow: 0 0 10px rgba(0,0,0,0.5);
		  }
	  </style>

    {% endblock %}

        {% block content %}

							<!-- PAGE-HEADER -->
							<div class="page-header">
								<div>
									<h1 class="page-title">Détails d'Opération Agricole</h1>
								</div>
								<div class="ms-auto pageheader-btn">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="operations-utilisateur">Opérations Agricoles</a></li>
										<li class="breadcrumb-item active" aria-current="page">Opération Détails</li>
									</ol>
								</div>
							</div>
							<!-- PAGE-HEADER END -->

							<!--ROW OPENED-->
							<div class="row">
								<div class="col-md-12">
									<div class="btn-list text-end mb-3">
										<a href="javascript:void(0)" class="btn btn-primary active text-white me-2">Détail Opération Agricole</a>
										<a href="{% url 'operation-edit' operation.id %}" class="btn btn-outline-primary me-2">Modifier Opération Agricole</a>
										<a href="{% url 'ajouter-operation-agricole' %}" class="btn btn-outline-primary me-2">Ajouter Opération Agricole</a>
									</div>
									<div class="card overflow-hidden">
										<div class="card-body">
											<div class="row">
												<div class="col-xl col-md-12">
													<h5 class="my-2 card-title"> Type d'Opération & projet :
														{% comment %} {% if operation.typeoperation and operation.project_id %}
															{{ operation.typeoperation }} - {{ operation.project.project_name }}
														{% else %}
															Informations non disponibles
														{% endif %} {% endcomment %}
														{{ operation.typeoperation }} - {{ operation.project.project_name }}
													</h5>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="tab-content">
										<div class="tab-pane active" id="tab_1">
											<!-- ROW -->
											<div class="row">
												<div class="col-xl-9 col-lg-12">
													<div class="card">
														<div class="card-body">
															<div class="row prjct-details">
																<div class="col-xl-6 col-lg-12">
																	<div class="text-center border py-5 br-5 details">
																		<div>
																			<span class="m-0 text-muted"><i class="fe fe-calendar"></i>Date et Heure début d'opération :</span>
																		</div>
																		<h5 class="mt-3 text-teritary">{{ operation.date_debut}}</h5>
																	</div>
																</div>
																<div class="col-xl-6 col-lg-12">
																	<div class="text-center border py-5 br-5 details">
																		<div>
																			<span class="m-0 text-muted"><i class="fe fe-calendar"></i>Date et Heure fin d'opération :</span>
																		</div>
																		<h5 class="mt-3 text-danger">{{ operation.date_fin}}</h5>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header border-bottom d-block">
															<div class="row align-items-center">
																<div class="col">
																	<h4 class="mb-1">Description</h4>
																	{% comment %} <div class="d-sm-flex d-block">
																		<div class="text-muted pe-2 project-date">11 Jan 21</div>
																		<div class="text-muted ms-3 project-status">In Progress</div>
																	</div> {% endcomment %}
																</div>
																{% comment %} <div class="col-auto">
																	<div class="d-flex align-items-center">
																		<i class="fa fa-star active stars-main ms-4" id="star"></i>
																		<div class="ms-3">
																			<a href="#" class="text-muted" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
																			<div class="dropdown-menu dropdown-menu-start">
																				<a class="dropdown-item" href="#"><i class="fe fe-edit me-2"></i> Edit</a>
																				<a class="dropdown-item" href="#"><i class="fe fe-share me-2"></i> Share</a>
																				<a class="dropdown-item" href="#"><i class="fe fe-download me-2"></i> Clone</a>
																				<a class="dropdown-item" href="#"><i class="fe fe-info me-2"></i> Report Issue</a>
																				<a class="dropdown-item" href="#"><i class="fe fe-trash me-2"></i> Delete</a>
																			</div>
																		</div>
																	</div>
																</div> {% endcomment %}
															</div>
														</div>
														<div class="card-body">
															{% comment %} <h5 class="mb-2">Opération Détails:</h5> {% endcomment %}
															<p class="line-height-5 m-0 text-muted">{{ operation.description}}</p>
															{% comment %} <ul class="mt-2">
																<li class="text-muted">
																	<svg xmlns="http://www.w3.org/2000/svg" class="w-inner-icn list-indicator" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M14.8534546,11.6465454l-4.5-4.5c-0.1937256-0.1871948-0.5009155-0.1871948-0.6947021,0C9.460144,7.3383789,9.4546509,7.6549072,9.6464844,7.8535156L13.7930298,12l-4.1465454,4.1464844c-0.09375,0.09375-0.1464233,0.2208862-0.1464233,0.3534546C9.5,16.776062,9.723877,16.999939,10,17c0.1326294,0.0001221,0.2598267-0.0525513,0.3534546-0.1464844l4.5-4.5c0.000061-0.000061,0.0001221-0.000061,0.0001831-0.0001221C15.0487671,12.1581421,15.0487061,11.8416748,14.8534546,11.6465454z"/></svg>
																	Ea eos nonumy diam duo elitr. Takimata vero sit eirmod sit. Sea diam vero ipsum.
																</li>
																<li class="text-muted mt-1">
																	<svg xmlns="http://www.w3.org/2000/svg" class="w-inner-icn list-indicator" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M14.8534546,11.6465454l-4.5-4.5c-0.1937256-0.1871948-0.5009155-0.1871948-0.6947021,0C9.460144,7.3383789,9.4546509,7.6549072,9.6464844,7.8535156L13.7930298,12l-4.1465454,4.1464844c-0.09375,0.09375-0.1464233,0.2208862-0.1464233,0.3534546C9.5,16.776062,9.723877,16.999939,10,17c0.1326294,0.0001221,0.2598267-0.0525513,0.3534546-0.1464844l4.5-4.5c0.000061-0.000061,0.0001221-0.000061,0.0001831-0.0001221C15.0487671,12.1581421,15.0487061,11.8416748,14.8534546,11.6465454z"/></svg>
																	Accusam ipsum labore dolor amet ea, accusam dolore dolor dolore.
																</li>
																<li class="text-muted mt-1">
																	<svg xmlns="http://www.w3.org/2000/svg" class="w-inner-icn list-indicator" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M14.8534546,11.6465454l-4.5-4.5c-0.1937256-0.1871948-0.5009155-0.1871948-0.6947021,0C9.460144,7.3383789,9.4546509,7.6549072,9.6464844,7.8535156L13.7930298,12l-4.1465454,4.1464844c-0.09375,0.09375-0.1464233,0.2208862-0.1464233,0.3534546C9.5,16.776062,9.723877,16.999939,10,17c0.1326294,0.0001221,0.2598267-0.0525513,0.3534546-0.1464844l4.5-4.5c0.000061-0.000061,0.0001221-0.000061,0.0001831-0.0001221C15.0487671,12.1581421,15.0487061,11.8416748,14.8534546,11.6465454z"/></svg>
																	Nonumy gubergren gubergren lorem dolore nonumy lorem kasd, labore sit eirmod sed.
																</li>
																<li class="text-muted mt-1">
																	<svg xmlns="http://www.w3.org/2000/svg" class="w-inner-icn list-indicator" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M14.8534546,11.6465454l-4.5-4.5c-0.1937256-0.1871948-0.5009155-0.1871948-0.6947021,0C9.460144,7.3383789,9.4546509,7.6549072,9.6464844,7.8535156L13.7930298,12l-4.1465454,4.1464844c-0.09375,0.09375-0.1464233,0.2208862-0.1464233,0.3534546C9.5,16.776062,9.723877,16.999939,10,17c0.1326294,0.0001221,0.2598267-0.0525513,0.3534546-0.1464844l4.5-4.5c0.000061-0.000061,0.0001221-0.000061,0.0001831-0.0001221C15.0487671,12.1581421,15.0487061,11.8416748,14.8534546,11.6465454z"/></svg>
																	Ipsum elitr no sed takimata dolore.
																</li>
															</ul> {% endcomment %}
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-12">
													<div class="card">
														<div class="card-header border-bottom">
															<h3 class="card-title">Fournitures agricoles</h3>
														</div>
														<div class="card-body">
															<ul class="task-list">
																<li>
																	<i class="task-icon bg-primary"></i>
																	<h4>Graines & Pousse :</h4>
																	<h6>- {{ operation.type_graines_pousses}}</h6>
																	<p class="text-muted fs-12">{{ operation.quantite_graine_utilisee}}Kg</p>
																</li>
																<li>
																	<i class="task-icon bg-secondary"></i>
																	<h4>Fertilisants  :</h4>
																	<h6>- {{ operation.type_engrais}}</h6>
																	<p class="text-muted fs-12">{{ operation.quantite_engrais_utilisee}}Kg</p>
																</li>
																<li>
																	<i class="task-icon bg-teritary"></i>
																	<h4>Traitements  :</h4>
																	<h6>- {{ operation.type_traitement}}</h6>
																	{% comment %} <h6><a href="#" class="fw-semibold text-dark">Emilie Benett</a> Found A New Bug.</h6> {% endcomment %}
																	<p class="text-muted fs-12">{{ operation.quantite_traitement_utilisee}}Kg</p>
																</li>
																{% comment %} <li>
																	<i class="task-icon bg-custom-yellow"></i>
																	<h6>New Member Added To The Project.</h6>
																	<p class="text-muted fs-12">05 Mar 2020</p>
																</li>
																<li>
																	<i class="task-icon bg-orange"></i>
																	<h6><a href="#" class="fw-semibold text-dark">Task-1</a> Completed Successfully.</h6>
																	<p class="text-muted fs-12">15 Mar 2020</p>
																</li>
																<li>
																	<i class="task-icon bg-primary"></i>
																	<h6>New Task Added To The Project.</h6>
																	<p class="text-muted fs-12">02 Apr 2020</p>
																</li> {% endcomment %}
															</ul>
														</div>
													</div>
												</div>
											</div><!--ROW CLOSED-->
										</div>
									</div>
								</div>
							</div>
							<!--ROW CLOSED-->

							<!--ROW OPENED-->
							<div class="row">
								<div class="col-md-12">
									<div class="tab-content">
										<div class="tab-pane active" id="tab_1">
											<!-- ROW -->
											<div class="row">
												<div class="col-xl-9 col-lg-12">
													<div class="card">
														<div class="card-header border-bottom d-block">
															<div class="row align-items-center">
																<div class="col">
																	<h4 class="mb-1">Main d'œuvre</h4>
																</div>
															</div>
														</div>
														<div class="card-body">
															{% for main_doeuvre in main_doeuvres %}
															<table class="table row table-borderless">
																<tbody class="col-lg-8 col-xl-4 p-0">
																	<tr>
																		<td><strong>{{ forloop.counter }}. Nom & Type :</strong> {{ main_doeuvre.type_rh.nom }} {{ main_doeuvre.type_rh.prenom }} ({{ main_doeuvre.type_rh.type }})</td>
																	</tr>
																</tbody>
																<tbody class="col-lg-8 col-xl-4 p-0 border-top-0">
																	<tr>
																		<td><strong>Date et heure de début :</strong> {{ main_doeuvre.time }}</td>
																	</tr>
																</tbody>
																<tbody class="col-lg-8 col-xl-4 p-0 border-top-1">
																	<tr>
																		<td><strong>Date et heure de fin :</strong> {{ main_doeuvre.timefin }}</td>
																	</tr>
																</tbody>
															</table>
															{% endfor %}
														</div>
														
													</div>
													<div class="card">
														<div class="card-header border-bottom d-block">
															<div class="row align-items-center">
																<div class="col">
																	<h4 class="mb-1">Machines et carburants</h4>
																</div>
															</div>
														</div>
														<div class="card-body">
															{% for machine_carburant in machine_carburants %}
															<table class="table row table-borderless">
																<tbody class="col-lg-8 col-xl-4 p-0">
																	<tr>
																		<td><strong>{{ forloop.counter }}. Type machine :</strong> {{ machine_carburant.type_machine_engins.type }} ({{ machine_carburant.type_machine_engins.matricule }})</td>
																	</tr>
																	<tr>
																		<td><strong>Date et Heure de début :</strong> {{ machine_carburant.duree_utilisation_programme }}</td>
																	</tr>
																</tbody>
																<tbody class="col-lg-8 col-xl-4 p-0 border-top-0">
																	<tr>
																		<td><strong>Carburant :</strong> {{ machine_carburant.carburant }}</td>
																	</tr>
																	<tr>
																		<td><strong>Date et Heure de fin :</strong> {{ machine_carburant.heure_de_fin }}</td>
																	</tr>
																</tbody>
																<tbody class="col-lg-8 col-xl-4 p-0 border-top-1">
																	<tr>
																		<td><strong>Quantité carburant :</strong> {{ machine_carburant.quantite_carburant }} L</td>
																	</tr>
																</tbody>
															</table>
															{% endfor %}
														</div>
													</div>
												</div>

												<div class="col-xl-3 col-lg-12">
													<div class="card">
														<div class="card-header border-bottom">
															<h3 class="card-title">Outils Agricoles</h3>
														</div>
														<div class="card-body">
															<ul class="task-list">
																<li>
																	<i class="task-icon bg-custom-yellow"></i>
																	<h4>Outils :</h4>
																	{% for outil in outils %}
																	<h6> - {{ outil.name }}</h6>
																	{% endfor %}
																</li>
															</ul>
														</div>

														<div class="card-header border-bottom">
															<h3 class="card-title">Pièce de Rechange</h3>
														</div>
														<div class="card-body">
															<ul class="task-list">
																<li>
																	<i class="task-icon bg-orange"></i>
																	<h4>Pièces :</h4>
																	{% for piece in pieces %}
																	<h6> - {{ piece.type_pieces }}</h6>
																	<p class="text-muted fs-12">{{ piece.nombre_de_pieces }} pièces</p>
																	{% endfor %}
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div><!--ROW CLOSED-->

											<!-- ROW OPENED-->
											<div class="row">
												<div class="col-md-12">
													<div class="card">
														<div class="card-header border-bottom">
															<h3 class="card-title">Emplacement d'Opération Agricole</h3>
														</div>
														<div class="card-body pb-0">

															<div id="map">
																<!-- Map coordinate  -->
																<div class="leaflet-control map-coordinate">
																	<div class="coordinate"></div>
																</div>
														</div>
																<!-- leaflet js  -->
																<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
																<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
																<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
																<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
																<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
																<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
																<script src="{% static './lib/leaflet.markercluster.js' %}"></script>
																<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
																<script src="{% static './data/test.js' %}"></script>
																<script src="{% static './dist/main.js' %}"></script>
																<script src="{% static './dist/web-GIS.js' %}"></script>
									
																<!-- leaflet draw plugin  -->
																<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
																<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
													 
															<script>
																// Map initialization 
																var mapcenter = [51.505, -0.09];
																var map = L.map('map', {zoomControl: false}).setView(mapcenter, 11);
															
																//google satellite
																googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
																	maxZoom: 20,
																	subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
																});googleSat.addTo(map)
															
																// Zoom Control
																var zoomControl = L.control.zoom({
																	position: "topleft"
																});
																zoomControl.addTo(map);  
															
																// google street 
																googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
																	maxZoom: 20,
																	subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
																});
																//googleStreets.addTo(map);
															
															var baselayer = {
																"Satellite": googleSat,
																"Street": googleStreets,
																
																"Street": googleStreets
															}
															
															L.control.layers(baselayer, /*overlayers*/).addTo(map)
															
															
															// sideBySide 
															L.control.sideBySide(ls, mf).addTo(map);
															</script>
														</div>
													</div>
												</div>
											</div><!--ROW CLOSED-->
										</div>
									</div>
								</div>
							</div>
							<!--ROW CLOSED-->
		{% endblock %}

    {% block scripts %}

		<!-- INTERNAL SELECT2 JS -->
		<script src="{% static 'assets/plugins/select2/select2.full.min.js'%}"></script>

		<!-- FILE UPLOAD JS -->
        <script src="{% static 'assets/plugins/fileuploads/js/fileupload.js'%}"></script>
        <script src="{% static 'assets/plugins/fileuploads/js/file-upload.js'%}"></script>

		<!-- bootstrap-datepicker js -->
		<script src="{% static 'assets/plugins/bootstrap-datepicker/js/datepicker.js'%}"></script>

		<!-- INTERNAL Data tables js-->
		<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js'%}"></script>

		<!-- PROJECT-DETAILS JS-->
		<script src="{% static 'assets/js/operation-view.js'%}"></script>

        <!-- COLOR THEME JS -->
        <script src="{% static 'assets/js/themeColors.js'%}"></script>

    {% endblock %}