{% extends 'components/base.html' %}
{% load static %}

{% block styles %}
<style>
	html {
		height: 100vh;
		width: 100%;
		margin: 0;
		padding: 0;
	}
</style> 

<style>
	body {
		margin: 0;
		padding: 0;
	}

	
	
	#save {
		position: absolute;
		top: 5%;
		right: 50%;
		padding: 10px;
		z-index: 400;
		background-color: #4ea8cf8a;
		border-radius: 15px;
		cursor: pointer;
	  }

	.info {
		padding: 6px 8px;
		font: 12px/14px Arial, Helvetica, sans-serif;
		color: white;
		background: rgba(52,58,64,0.8);
		box-shadow: 0 0 15px rgba(255,255,255,0.2);
		border-radius: 5px;
		text-align: left;
	}
	  
	
</style>
<link rel="stylesheet" href="{% static 'assets/plugins/select2/select2.min.css' %}">
{% endblock %}

{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="unsorry">

<link rel="icon" type="image/x-icon" href="https://unsorry.net/assets-date/images/favicon.png">

<body onload="execute()">
    <!-- PAGE-HEADER -->
    <div class="page-header">
        <div>
            <h1 class="page-title">Nouveau Projet</h1>
        </div>
        <div class="ms-auto pageheader-btn">
            <ol class="breadcrumb">
                {% comment %} <li class="breadcrumb-item">Apps</li> {% endcomment %}
                <li class="breadcrumb-item"><a href="{% url 'projects' %}">Projets</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nouveau Projet</li>
            </ol>
        </div>
    </div>
    <!-- PAGE-HEADER END -->
    
    <!--ROW OPENED-->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <h4 class="mb-0">Détails du Projet</h4>
                </div>
                <div class="card-body p-0 create-project-main">
                    <form method="post" action="{% url 'project-new' %}">
                        {% csrf_token %}
                        <div class="row p-5 border-bottom">
                            <div class="col-sm-12 col-md-12 col-xl-4">
                                <div class="form-group">
                                    <label for="project-name-id" class="form-label text-muted">Nom du Projet:</label>
                                    <div class="input-group">
                                        <input id="project-name-id" type="text" class="form-control text-dark" placeholder="Entrez le nom du projet" name="project_name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-xl-4">
                                <div class="form-group">
                                    <label for="project-date-id" class="form-label text-muted">Date du Projet:</label>
                                    <div class="input-group date" id="ps-datepicker" data-date-format="dd-mm-yyyy">
                                        <span class="input-group-addon input-group-text bg-primary-transparent"><i class="fe fe-calendar text-primary-dark"></i></span>
                                        <input id="project-date-id" class="form-control" type="text" placeholder="Sélectionnez la date de début" name="project_date" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-xl-4">
                                <div class="form-group">
                                    <label for="project-category-id" class="form-label text-muted">Culture :</label>
                                    <select class="form-control select2-show-search" id="project-category-id" name="project_category" required>
                                        <option label="Choisissez une option"></option>
                                        <option value="Grand Culture">Grand Culture</option>
                                        <option value="Arbo-culture">Arbo-culture</option>
                                        <option value="Palmier">Palmier</option>
                                        <option value="Mixte">Mixte</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-xl-4">
                                <div class="form-group">
                                    <label for="project-department-id" class="form-label text-muted">Type de Culture:</label>
                                    <select class="form-control select2-show-search" id="project-department-id" name="department" required>
                                        <option label="Choisissez une option"></option>
                                        <option value="Blé">Blé</option>
                                        <option value="Alpha">Alpha</option>
                                        <option value="Alpha-Alpha">Alpha-Alpha</option>
                                        <option value="Oliver">Oliver</option>
                                        <option value="Amandier">Amandier</option>
                                        <option value="Pistachier">Pistachier</option>
                                        <option value="Degla">Degla</option>
                                        <option value="Beser">Beser</option>
                                        <option value="Aligue">Aligue</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-xl-4">
                                <div class="form-group">
                                    <label for="client-id" class="form-label text-muted">Client:</label>
                                    <div class="input-group">
                                        <input id="client-id" type="text" class="form-control text-dark" placeholder="Nom du Client" name="client" required>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-12 col-md-12 col-xl-4">
								<div class="form-group note-form-group note-group-select-from-files">
									<label for="image" class="form-label text-muted">Sélectionner une image :</label>
									<input id="image" type="file" name="image" accept="image/*" class="form-control-file note-form-control note-input">
								</div>
							</div>
							{% comment %} <div class="col-sm-12 col-md-12 col-xl-4">
								<div class="form-group note-form-group note-group-select-from-files">
									<label for="note-dialog-image-file" class="form-label text-muted">Sélectionner un fichier :</label>
									<input id="note-dialog-image-file" class="note-image-input form-control-file note-form-control note-input" type="file" name="files" accept="image/*">
								</div>
							</div> {% endcomment %}
                            <input id="zone-id" type="hidden" name="geozone" value="">
                        </div>
                        <div class="row p-5">
                            <div class="btn-list text-end">
                                <button type="reset" class="btn btn-outline-danger">
                                    <i class="fe fe-x-circle"></i>
                                    Annuler
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fe fe-check-circle"></i>
                                    Enregistrer
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--ROW CLOSED-->
</body>
{% endblock %}

{% block scripts %}
<script src="{% static 'assets/plugins/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-datepicker/js/datepicker.js' %}"></script>

<script>
    $(document).ready(function() {
        $('#ps-datepicker').datepicker(); // Initialiser le datepicker
        $('.select2-show-search').select2(); // Initialiser les menus déroulants Select2
    });

    function execute() {
        console.log("Retrieve zone");
        const zone = JSON.parse(localStorage.getItem('data'));
        document.getElementById('zone-id').value = zone ? zone.id : "";
    }
</script>
{% endblock %}
