{% extends 'components/base.html' %}
{% load static %}

    {% block styles %}
	<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap-datepicker/css/datepicker.css' %}">
	<style>
		.leaflet-popup-content {
		  width: 450px;
		}
		#map {
			width: 100%;
			height: 100vh;
			box-shadow: 0 0 10px rgba(0,0,0,0.5);
		}
	</style>
    {% endblock %}
    
        {% block content %}
        
							<!-- PAGE-HEADER -->
							<div class="page-header">
								<div>
									<h1 class="page-title">Modifier Projet</h1>
								</div>
								<div class="ms-auto pageheader-btn">
									<ol class="breadcrumb">
										{% comment %} <li class="breadcrumb-item">Apps</li> {% endcomment %}
										<li class="breadcrumb-item"><a href="{% url 'projects' %}">Tous les Projets</a></li>
										<li class="breadcrumb-item active" aria-current="page">Modifier Projet</li>
									</ol>
								</div>
							</div>
							<!-- PAGE-HEADER END -->

							<!--ROW OPENED-->
							<div class="row">
								<div class="col-lg-12 col-md-12">
									<form method="post">
										{% csrf_token %}
									<div  class="card">
										<div class="card-header border-bottom">
											<h4 class="mb-0">Détails du projet</h4>
										</div>
										<div class="card-body p-0 project-edit-main">
											<div class="row p-5 border-bottom">
												<div class="col-sm-12 col-md-12 col-xl-4">
													<div class="form-group">
														<label for="project-name" class="form-label text-muted">Nom du projet:</label>
														<div class="input-group">
															<input type="text" id="project-name" class="form-control text-dark" placeholder="Enter Project Name" name="project_name" value="{{ project.project_name }}">
														</div>
													</div>
												</div>
												<div class="col-sm-12 col-md-12 col-xl-4">
													<div class="form-group">
														<label for="project-date" class="form-label text-muted">Date du projet:</label>
														<div class="input-group date" data-date-format="dd-mm-yyyy">
															<input type="text" class="form-control" id="project_date" name="project_date" value="{{ project.project_date|date:'d-m-Y' }}">
															<span class="input-group-addon input-group-text bg-primary-transparent"><i class="fe fe-calendar text-primary-dark"></i></span>
														</div>
													</div>
												</div>												
												{% comment %} <div class="col-sm-12 col-md-12 col-xl-3 end-date-container">
													<div class="form-group">
														<label for="project-end-date" class="form-label text-muted">End Date:</label>
														<div id="pe-datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
															<span class="input-group-addon input-group-text bg-primary-transparent"><i class="fe fe-calendar text-primary-dark"></i></span>
															<input id="project-end-date" class="form-control" type="text" placeholder="Select End Date"/>
														</div>
													</div>
												</div> {% endcomment %}
												<div class="col-sm-12 col-md-12 col-xl-4 ">
													<div class="form-group">
														<label for="client" class="form-label text-muted">client :</label>
														<div class="input-group">
															<input type="text" id="client" class="form-control text-dark" placeholder="Enter Project Name" name="client" value="{{ project.client }}">
														</div>
													</div>
												</div>
												<div class="col-sm-12 col-md-12 col-xl-4">
													<div class="form-group">
														<label for="project-category" class="form-label text-muted">Culture :</label>
														<select class="form-control select2-show-search" id="project-category" name="project_category">
															<option label="Choisissez une option"></option>
															<option value="Grand Culture" {% if project.project_category == "Grand Culture" %}selected{% endif %}>Grand Culture</option>
															<option value="Arbo-culture" {% if project.project_category == "Arbo-culture" %}selected{% endif %}>Arbo-culture</option>
															<option value="Palmier" {% if project.project_category == "Palmier" %}selected{% endif %}>Palmier</option>
															<option value="Mixte" {% if project.project_category == "Mixte" %}selected{% endif %}>Mixte</option>
														</select>														
													</div>
												</div>
												<div class="col-sm-12 col-md-12 col-xl-4">
													<div class="form-group">
														<label for="project-department" class="form-label text-muted">Type de Culture :</label>
														<select class="form-control select2-show-search" id="project-department-id" name="department">
															<option label="Choisissez une option"></option>
															<option value="Blé" {% if project.department == "Blé" %}selected{% endif %}>Blé</option>
															<option value="Alpha" {% if project.department == "Alpha" %}selected{% endif %}>Alpha</option>
															<option value="Alpha-Alpha" {% if project.department == "Alpha-Alpha" %}selected{% endif %}>Alpha-Alpha</option>
															<option value="Oliver" {% if project.department == "Oliver" %}selected{% endif %}>Oliver</option>
															<option value="Amandier" {% if project.department == "Amandier" %}selected{% endif %}>Amandier</option>
															<option value="Pistachier" {% if project.department == "Pistachier" %}selected{% endif %}>Pistachier</option>
															<option value="Degla" {% if project.department == "Degla" %}selected{% endif %}>Degla</option>
															<option value="Beser" {% if project.department == "Beser" %}selected{% endif %}>Beser</option>
															<option value="Aligue" {% if project.department == "Aligue" %}selected{% endif %}>Aligue</option>
														</select>														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--ROW CLOSED-->

							<!-- ROW OPENED-->
							<div class="row">
								<div class="col-md-12">
									<div class="card">
										<div class="card-header border-bottom">
											<h3 class="card-title">Emplacement du Projet</h3>
										</div>
										<div class="card-body pb-0">

											<div id="map">
												<!-- Map coordinate  -->
												<div class="leaflet-control map-coordinate">
													<div class="coordinate"></div>
												</div>
											</div>
												<!-- leaflet js  -->
												<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
												<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
												<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
												<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
												<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
												<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
												<script src="{% static './lib/leaflet.markercluster.js' %}"></script>
												<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
												<script src="{% static './data/test.js' %}"></script>
												<script src="{% static './dist/main.js' %}"></script>
												<script src="{% static './dist/web-GIS.js' %}"></script>
					
												<!-- leaflet draw plugin  -->
												<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
												<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
												
												<script>
													// Initialize the map
													var mapcenter = [51.505, -0.09];  // Default map center if no points are provided
													var map = L.map('map', {zoomControl: false}).setView(mapcenter, 11);
												
													// Base layers
													var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
														maxZoom: 20,
														subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
													}).addTo(map);
												
													var googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
														maxZoom: 20,
														subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
													});
												
													L.control.layers({
														"Satellite": googleSat,
														"Street": googleStreets
													}).addTo(map);
												</script>
										</div> 
									</div>
								</div>
							</div>
							<!--ROW CLOSED-->
							
							<div class="row p-5">
								<div class="btn-list text-end">
									<button class="btn btn-outline-danger">
										<i class="fe fe-x-circle"></i>
										Cancel
									</button>
									<button class="btn btn-primary">
										<i class="fe fe-check-circle"></i>
										Save
									</button>
								</div>
							</div>

        {% endblock %}

    {% block scripts %}
		<script src="{% static 'assets/plugins/bootstrap-datepicker/js/datepicker.js' %}"></script>
		<script>
			$(document).ready(function() {
				$('#project_date').datepicker({
					format: 'dd-mm-yyyy',
					autoclose: true
				});
			});
		</script>

		<!-- SELECT2 JS -->
		<script src=" {% static 'assets/plugins/select2/select2.full.min.js' %} "></script>

		<!-- bootstrap-datepicker js -->
		<script src=" {% static 'assets/plugins/bootstrap-datepicker/js/datepicker.js' %} "></script>

		<!-- INTERNAL Summernote Editor js -->
		<script src=" {% static 'assets/plugins/summernote-editor/summernote1.js' %} "></script>

		<!-- FILE UPLOAD JS -->
        <script src=" {% static 'assets/plugins/fileuploads/js/fileupload.js' %} "></script>
        <script src=" {% static 'assets/plugins/fileuploads/js/file-upload.js' %} "></script>

		<!--PROJECT EDIT JS-->
		<script src=" {% static 'assets/js/projects-edit.js' %} "></script>

        <!-- THEMECOLORS JS -->
        <script src="{% static 'assets/js/themeColors.js'%}"></script>

    {% endblock %}